{% extends "scoring_app/base.html" %}
{% load static i18n %}
{% block content %}
  <h2>
    {% trans "Bienvenue sur l'application de prédiction de prêt bancaire" %}
  </h2>

  <div id="graphContainer"></div>
  <div id="info" style="margin-top:20px; padding:10px; border: 1px solid #ddd;"></div>
  {#   [MermaidChart: 0386a2f9-86f8-4996-89a2-3269dd3a24a1]#}
  <pre class="mermaid">
  architecture-beta
    service db(database)[Database]
    service disk1(logos:aws-aurora)[Storage]
    service disk2(disk)[Storage]
    service server(server)[Server]

    db:L -- R:server
    disk1:T -- B:server
    disk2:T -- B:db
  </pre>
{% endblock %}

