{% extends "rest_framework/api.html" %}
{% load static rest_framework %}

{% block title %}
  Scoring App
{% endblock %}
{% block branding %}
  <h3>🚀 API Scoring Model </h3>
{% endblock %}

{% block userlinks %}
  <li class="me-1"><a href="{% url 'ml_app:scoring_app:predict' %}" class="btn btn-primary">Predict</a></li>
  <li class="me-1"><a href="{% url 'ml_app:scoring_app:clients-list' %}" class="btn btn-primary">Dataset</a></li>
  <li class="me-1"><a href="{% url 'ml_app:scoring_app:visualise' %}" class="btn btn-primary">Data Analyse</a></li>
  <li class="me-1"><a href="{% url 'ml_app:scoring_app:train' %}" class="btn btn-primary">Train</a></li>
  <li class="me-1"><a href="{% url 'ml_app:scoring_app:upload' %}" class="btn btn-primary">Upload</a></li>
{% endblock %}

{% block style %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'ml_app/css/restframework.css' %}">
{% endblock %}

{% block script %}
  {{ block.super }}
  {% include "load_js.html" with file_js=file_js %}
{% endblock %}